/* sizes */
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$fontFamDefault: 'Poppins', sans-serif;
$fontWgtDefault: 300;

$colorPrimary: #fb3f79;
$colorPrimary_opacity: #fb3f79aa;

$colorSecondary: #fea49c;
$colorSecondary_opacity: #fea49caa;

$paddingDefault: 15px;
$marginDefault: 10px;