@import './variables';
@import './mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    user-select: none;
    outline-style:none;
    -webkit-tap-highlight-color: transparent;
    font-family: $fontFamDefault;
    font-weight: $fontWgtDefault;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorSecondary_opacity;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: $colorSecondary; 
}

html, body{
    min-height: 100%;
    min-width: 100%;
}

h1, h2, h3, h4, h5, h6, p{
    color: #3a3a3a;
}

a{
    text-decoration: none;
    color: $colorPrimary;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    &.btn-primary{
        background-color: $colorPrimary;
        color: white;
    }
    &.btn-secondary{
        background-color: white;
        border: 3px solid $colorPrimary;
        color: $colorPrimary;
        &:hover{
            color: white;
            border: 3px solid $colorPrimary;
            background-color: $colorPrimary;
        }
    }
}

.title, .sub-title{
    margin: auto;
    text-align: center;
    color: #3a3a3a;
}

.title{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
}

.sub-title{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    &:before, &:after{
        content: "";
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 2px;
        margin: 0 10px;
        background: #3a3a3a;
        top: 50%;
    }
    &:before{
        transform: translateX(-70px);
    }
}

.btn-img{
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0;
    filter: brightness(60%);
    &:hover, &.btn-img-active{
        filter: brightness(1);
    }
}

.col{
    flex: 1;
    @include gridSystem();
    &-xs, &-sm, &-md, &-lg, &-xl{
        flex: 1;
    }
    &-xs{
        @include mediaQuery($xs){
            @include gridSystem();
        }
    }
    &-sm{
        @include mediaQuery(0){
            @include gridSystemAllFull();
        }
        @include mediaQuery($sm){
            @include gridSystem();
        }
    }
    &-md{
        @include mediaQuery(0){
            @include gridSystemAllFull();
        }
        @include mediaQuery($md){
            @include gridSystem();
        }
    }
    &-lg{
        @include mediaQuery(0){
            @include gridSystemAllFull();
        }
        @include mediaQuery($lg){
            @include gridSystem();
        }
    }
    &-xl{
        @include mediaQuery(0){
            @include gridSystemAllFull();
        }
        @include mediaQuery($xl){
            @include gridSystem();
        }
    }
}

.m{
    &t{
        &-1{ margin-top: $marginDefault; }
        &-2{ margin-top: $marginDefault * 2; }
        &-3{ margin-top: $marginDefault * 3; }
        &-4{ margin-top: $marginDefault * 4; }
        &-5{ margin-top: $marginDefault * 5; }
    }
    &b{
        &-1{ margin-bottom: $marginDefault; }
        &-2{ margin-bottom: $marginDefault * 2; }
        &-3{ margin-bottom: $marginDefault * 3; }
        &-4{ margin-bottom: $marginDefault * 4; }
        &-5{ margin-bottom: $marginDefault * 5; }
    }
}

.page-header{
    background-color: $colorPrimary;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 5%;
    margin: auto;
    align-items: center;
    .brand{
        flex: 1;
        .brand-name{
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    nav{
        &.nav-burger{
            .icon-burger{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                padding: 10px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                z-index: 4;
                .burger-line{
                    background-color: white;
                    height: 4px;
                    width: 25px;
                    transition: transform .5s ease;
                }
                &:hover{
                    background-color: rgba(0,0,0,0.1);
                }
                &.nav-active .burger-line{
                    visibility: hidden;
                    &:first-child{
                        visibility: visible;
                        transform: rotate(45deg) translate(7px, 7.3px);
                    }
                    &:last-child{
                        visibility: visible;
                        transform: rotate(-45deg) translate(7px, -7.3px);
                    }
                }
            }
            .nav-list{
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                list-style-type: none;
                transition: max-height 1s ease-in-out;
                &.nav-active{
                    max-height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                    background-color: white;
                    .list-item{
                        display: flex;
                        text-align: center;
                        font-weight: 400;
                        width: 100%;
                        transition: background-color .2s ease-in-out;
                        a{
                            display: block;
                            width: 100%;
                            padding: 15px 0;
                            color: $colorPrimary;
                            transition: color .5s ease;
                            &:hover{
                                color: white;
                            }
                        }
                        &:hover{
                            font-weight: bold;
                            background-color: $colorPrimary;
                        }
                    }
                }
            }
            @include mediaQuery($sm){
                .icon-burger, .icon-burger::before, .icon-burger::after{
                    display: none;
                }
                .nav-list{
                    position: static;
                    top: auto;
                    left: auto;
                    display: flex;
                    width: auto;
                    height: auto;
                    max-height: 100%;
                    overflow: unset;
                    .list-item{
                        font-weight: 400;
                        margin-left: 30px;
                        a{
                            color: white;
                            padding: 10px 0;
                            &:hover{
                                border-bottom: 3px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.introduction{
    background-image: linear-gradient($colorPrimary, $colorSecondary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0;
    min-height: calc(100vh - 60px);
    flex-shrink: 0;
    .img-container{
        @include flexCenter(column);
        border-radius: 50%;
        border: 10px solid white;
        height: 200px;
        width: 200px;
        overflow: hidden;
        z-index: 2;
        img{
            height: 180px;
        }
    }
    .line-border{
        @include flexCenter(column);
        background-color: white;
        width: 90%;
        max-width: 800px;
        border-radius: 20px;
        padding: 100px 0 20px;
        margin-top: -100px;
        box-shadow: 0 4px 4px -4px #000;
        .social-container{
            font-size: 50px;
            cursor: default;
            a{
                color: $colorPrimary;
                margin: 0 10px;
                line-height: 0;
                display: inline-block;
                transition: 0.3s ease;
                &:hover{
                    color: $colorPrimary;
                }
                &.link-facebook:hover{
                    color: #4267B2;
                }
                &.link-instagram:hover{
                    color: #8a3ab9;
                }
                &.link-twitter:hover{
                    color: #00acee;
                }
            }
        }
        .intro-text{
            padding: 0 $paddingDefault;
            text-align: center;
            h1{
                font-weight: bold;
                color: #3a3a3a;
                font-size: 50px;
            }
            p{
                max-width: 500px;
            }
        }
        .buttons-container{
            display: flex;
            margin-top: 20px;
            button{
                margin: 10px;
            }
        }
    }
    
}

.about-me{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &>div{
        width: 90%;
        margin: auto;
        display: flex;
        @include mediaQuery($md){
            width: 80%;
        }
    }
    h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul{
        list-style-type: none;
    }
    #aboutMeIntro{
        .text-about-me{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .img-about-me{
            @include flexCenter(column);
        }
    }
    #aboutMeHobby{
        flex: 1;
        width: 100%;
        background: $colorSecondary;
        flex-direction: column;
        padding: 40px $paddingDefault;
        .hobby-container{
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            column-gap: 20px;
            row-gap: 20px;
            @include mediaQuery($md){
                width: 80%;
            }
            div{
                &.card{
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0 0 6px -2px #000;
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: 200px;
                        filter: brightness(0.8);
                        transition: all 0.2s ease;
                    }
                    .card-desc{
                        padding: 5px 5px 10px;
                        @include flexCenter(column);
                        button{
                            background-color: $colorPrimary;
                            color: white;
                            width: 100px;
                            margin-top: 40px;
                        }
                    }
                    &:hover{
                        box-shadow: 0 0 10px -2px #000;
                        img{
                            filter: brightness(1);
                        }
                    }
                }
            }
        }
    }
}

.my-works{
    background: white;
    padding: 50px 0;
    .work-desc{
        width: 90%;
        margin: auto;
        text-align: center;
        color: #777;
        @include mediaQuery($md){
            width: 80%;
        }
    }
    .work-title{
        width: 80%;
        text-align: center;
        margin: 0 auto 20px;
    }
    .work-grid{
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        img{
            object-fit: cover;
            object-position: center;
            filter: grayscale(1);
            width: 100%;
            height: 200px;
            transition: all 0.2s ease;
            cursor: pointer;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}