/* sizes */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #ccc;
          box-shadow: inset 0 0 5px #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fea49caa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fea49c;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb3f79), to(#fea49c));
  background-image: linear-gradient(#fb3f79, #fea49c);
}

h1, h2, h3, h4, h5, h6, p {
  color: #3a3a3a;
}

a {
  text-decoration: none;
  color: #fb3f79;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

button.btn-primary {
  background-color: #fb3f79;
  color: white;
}

button.btn-secondary {
  background-color: white;
  border: 3px solid #fb3f79;
  color: #fb3f79;
}

button.btn-secondary:hover {
  color: white;
  border: 3px solid #fb3f79;
  background-color: #fb3f79;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.col-1 {
  width: 8.333333% !important;
}

.col-2 {
  width: 16.666667% !important;
}

.col-3 {
  width: 25% !important;
}

.col-4 {
  width: 33.333333% !important;
}

.col-5 {
  width: 41.666667% !important;
}

.col-6 {
  width: 50% !important;
}

.col-7 {
  width: 58.333333% !important;
}

.col-8 {
  width: 66.666667% !important;
}

.col-9 {
  width: 75% !important;
}

.col-10 {
  width: 83.333333% !important;
}

.col-11 {
  width: 91.666667% !important;
}

.col-12 {
  width: 100% !important;
}

.col-xs, .col-sm, .col-md, .col-lg, .col-xl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 0) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-xs-1 {
    width: 8.333333% !important;
  }
  .col-xs-2 {
    width: 16.666667% !important;
  }
  .col-xs-3 {
    width: 25% !important;
  }
  .col-xs-4 {
    width: 33.333333% !important;
  }
  .col-xs-5 {
    width: 41.666667% !important;
  }
  .col-xs-6 {
    width: 50% !important;
  }
  .col-xs-7 {
    width: 58.333333% !important;
  }
  .col-xs-8 {
    width: 66.666667% !important;
  }
  .col-xs-9 {
    width: 75% !important;
  }
  .col-xs-10 {
    width: 83.333333% !important;
  }
  .col-xs-11 {
    width: 91.666667% !important;
  }
  .col-xs-12 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 0) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-sm-1 {
    width: 100%;
  }
  .col-sm-2 {
    width: 100%;
  }
  .col-sm-3 {
    width: 100%;
  }
  .col-sm-4 {
    width: 100%;
  }
  .col-sm-5 {
    width: 100%;
  }
  .col-sm-6 {
    width: 100%;
  }
  .col-sm-7 {
    width: 100%;
  }
  .col-sm-8 {
    width: 100%;
  }
  .col-sm-9 {
    width: 100%;
  }
  .col-sm-10 {
    width: 100%;
  }
  .col-sm-11 {
    width: 100%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-sm-1 {
    width: 8.333333% !important;
  }
  .col-sm-2 {
    width: 16.666667% !important;
  }
  .col-sm-3 {
    width: 25% !important;
  }
  .col-sm-4 {
    width: 33.333333% !important;
  }
  .col-sm-5 {
    width: 41.666667% !important;
  }
  .col-sm-6 {
    width: 50% !important;
  }
  .col-sm-7 {
    width: 58.333333% !important;
  }
  .col-sm-8 {
    width: 66.666667% !important;
  }
  .col-sm-9 {
    width: 75% !important;
  }
  .col-sm-10 {
    width: 83.333333% !important;
  }
  .col-sm-11 {
    width: 91.666667% !important;
  }
  .col-sm-12 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 0) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-md-1 {
    width: 100%;
  }
  .col-md-2 {
    width: 100%;
  }
  .col-md-3 {
    width: 100%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-5 {
    width: 100%;
  }
  .col-md-6 {
    width: 100%;
  }
  .col-md-7 {
    width: 100%;
  }
  .col-md-8 {
    width: 100%;
  }
  .col-md-9 {
    width: 100%;
  }
  .col-md-10 {
    width: 100%;
  }
  .col-md-11 {
    width: 100%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-md-1 {
    width: 8.333333% !important;
  }
  .col-md-2 {
    width: 16.666667% !important;
  }
  .col-md-3 {
    width: 25% !important;
  }
  .col-md-4 {
    width: 33.333333% !important;
  }
  .col-md-5 {
    width: 41.666667% !important;
  }
  .col-md-6 {
    width: 50% !important;
  }
  .col-md-7 {
    width: 58.333333% !important;
  }
  .col-md-8 {
    width: 66.666667% !important;
  }
  .col-md-9 {
    width: 75% !important;
  }
  .col-md-10 {
    width: 83.333333% !important;
  }
  .col-md-11 {
    width: 91.666667% !important;
  }
  .col-md-12 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 0) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-lg-1 {
    width: 100%;
  }
  .col-lg-2 {
    width: 100%;
  }
  .col-lg-3 {
    width: 100%;
  }
  .col-lg-4 {
    width: 100%;
  }
  .col-lg-5 {
    width: 100%;
  }
  .col-lg-6 {
    width: 100%;
  }
  .col-lg-7 {
    width: 100%;
  }
  .col-lg-8 {
    width: 100%;
  }
  .col-lg-9 {
    width: 100%;
  }
  .col-lg-10 {
    width: 100%;
  }
  .col-lg-11 {
    width: 100%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-lg-1 {
    width: 8.333333% !important;
  }
  .col-lg-2 {
    width: 16.666667% !important;
  }
  .col-lg-3 {
    width: 25% !important;
  }
  .col-lg-4 {
    width: 33.333333% !important;
  }
  .col-lg-5 {
    width: 41.666667% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .col-lg-7 {
    width: 58.333333% !important;
  }
  .col-lg-8 {
    width: 66.666667% !important;
  }
  .col-lg-9 {
    width: 75% !important;
  }
  .col-lg-10 {
    width: 83.333333% !important;
  }
  .col-lg-11 {
    width: 91.666667% !important;
  }
  .col-lg-12 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 0) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-xl-1 {
    width: 100%;
  }
  .col-xl-2 {
    width: 100%;
  }
  .col-xl-3 {
    width: 100%;
  }
  .col-xl-4 {
    width: 100%;
  }
  .col-xl-5 {
    width: 100%;
  }
  .col-xl-6 {
    width: 100%;
  }
  .col-xl-7 {
    width: 100%;
  }
  .col-xl-8 {
    width: 100%;
  }
  .col-xl-9 {
    width: 100%;
  }
  .col-xl-10 {
    width: 100%;
  }
  .col-xl-11 {
    width: 100%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .col-xl-1 {
    width: 8.333333% !important;
  }
  .col-xl-2 {
    width: 16.666667% !important;
  }
  .col-xl-3 {
    width: 25% !important;
  }
  .col-xl-4 {
    width: 33.333333% !important;
  }
  .col-xl-5 {
    width: 41.666667% !important;
  }
  .col-xl-6 {
    width: 50% !important;
  }
  .col-xl-7 {
    width: 58.333333% !important;
  }
  .col-xl-8 {
    width: 66.666667% !important;
  }
  .col-xl-9 {
    width: 75% !important;
  }
  .col-xl-10 {
    width: 83.333333% !important;
  }
  .col-xl-11 {
    width: 91.666667% !important;
  }
  .col-xl-12 {
    width: 100% !important;
  }
}

.title {
  display: block;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 60px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .brand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-header .brand .brand-name {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.page-header nav.nav-burger .icon-burger {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 4;
}

.page-header nav.nav-burger .icon-burger .burger-line {
  background-color: white;
  height: 4px;
  width: 25px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.page-header nav.nav-burger .icon-burger:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-header nav.nav-burger .icon-burger.nav-active .burger-line {
  visibility: hidden;
}

.page-header nav.nav-burger .icon-burger.nav-active .burger-line:first-child {
  visibility: visible;
  -webkit-transform: rotate(45deg) translate(7px, 7.3px);
          transform: rotate(45deg) translate(7px, 7.3px);
}

.page-header nav.nav-burger .icon-burger.nav-active .burger-line:last-child {
  visibility: visible;
  -webkit-transform: rotate(-45deg) translate(7px, -7.3px);
          transform: rotate(-45deg) translate(7px, -7.3px);
}

.page-header nav.nav-burger .nav-list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.page-header nav.nav-burger .nav-list.nav-active {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  background-color: white;
}

.page-header nav.nav-burger .nav-list.nav-active .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-weight: 400;
  width: 100%;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.page-header nav.nav-burger .nav-list.nav-active .list-item a {
  display: block;
  width: 100%;
  padding: 15px 0;
  color: #fb3f79;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.page-header nav.nav-burger .nav-list.nav-active .list-item a:hover {
  color: white;
}

.page-header nav.nav-burger .nav-list.nav-active .list-item:hover {
  font-weight: bold;
  background-color: #fb3f79;
}

@media only screen and (min-width: 576px) {
  .page-header nav.nav-burger .icon-burger, .page-header nav.nav-burger .icon-burger::before, .page-header nav.nav-burger .icon-burger::after {
    display: none;
  }
  .page-header nav.nav-burger .nav-list {
    position: static;
    top: auto;
    left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    max-height: 100%;
    overflow: unset;
  }
  .page-header nav.nav-burger .nav-list .list-item {
    font-weight: 400;
    margin-left: 30px;
  }
  .page-header nav.nav-burger .nav-list .list-item a {
    color: white;
    padding: 10px 0;
  }
  .page-header nav.nav-burger .nav-list .list-item a:hover {
    border-bottom: 3px solid white;
  }
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  min-height: calc(100vh - 60px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.introduction .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  border: 10px solid white;
  height: 200px;
  width: 200px;
  overflow: hidden;
  z-index: 2;
}

.introduction .img-container img {
  height: 180px;
}

.introduction .line-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  padding: 100px 0 20px;
  margin-top: -100px;
  -webkit-box-shadow: 0 4px 4px -4px #000;
          box-shadow: 0 4px 4px -4px #000;
}

.introduction .line-border .social-container {
  font-size: 50px;
  cursor: default;
}

.introduction .line-border .social-container a {
  color: #fb3f79;
  margin: 0 10px;
  line-height: 0;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.introduction .line-border .social-container a:hover {
  color: #fb3f79;
}

.introduction .line-border .social-container a.link-facebook:hover {
  color: #4267B2;
}

.introduction .line-border .social-container a.link-instagram:hover {
  color: #8a3ab9;
}

.introduction .line-border .social-container a.link-twitter:hover {
  color: #00acee;
}

.introduction .line-border .intro-text {
  padding: 0 15px;
  text-align: center;
}

.introduction .line-border .intro-text h1 {
  font-weight: bold;
  color: #3a3a3a;
  font-size: 50px;
}

.introduction .line-border .intro-text p {
  max-width: 500px;
}

.introduction .line-border .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.introduction .line-border .buttons-container button {
  margin: 10px;
}

.about-me {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
}

.about-me > div {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .about-me > div {
    width: 80%;
  }
}

.about-me h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me ul {
  list-style-type: none;
}

.about-me #aboutMeIntro .text-about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me #aboutMeIntro .img-about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me #aboutMeHobby {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 0;
}

.about-me #aboutMeHobby .hobby-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.about-me #aboutMeHobby .hobby-container div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 6px -2px #000;
          box-shadow: 0 0 6px -2px #000;
}

.about-me #aboutMeHobby .hobby-container div.card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 200px;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about-me #aboutMeHobby .hobby-container div.card .card-desc {
  padding: 5px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me #aboutMeHobby .hobby-container div.card .card-desc button {
  background-color: #fb3f79;
  color: white;
  width: 100px;
  margin-top: 40px;
}

.about-me #aboutMeHobby .hobby-container div.card:hover {
  -webkit-box-shadow: 0 0 10px -2px #000;
          box-shadow: 0 0 10px -2px #000;
}

.about-me #aboutMeHobby .hobby-container div.card:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
/*# sourceMappingURL=style.css.map */